.navContainer{
  border: 3px solid rgb(230, 238, 245);
  text-align: center;
  width: 70%;
  background-color: rgb(230, 238, 245);
  margin-left: 15%;
  margin-top: 2%;
  color: blue;
  padding: 2px;
  font-family: serif;
 
}
.formClass{
  border: 3px solid rgb(230, 238, 245);
  text-align: center;
  width: 55%;
  background-color: rgb(230, 238, 245);
  margin-left: 22%;
  margin-right: 22%;

  margin-top: 2%;
  color: blue;
  padding: 5px;
  font-family: serif;
}
textarea {
  width: 700px;
  height: 60px;
}
.listContainer{
  border: 3px solid rgb(230, 238, 245);
  text-align: center;
  width: 70%;
  background-color: rgb(230, 238, 245);
  margin-left: 14.5%;
  margin-top: 2%;
  color: blue;
  padding: 5px;
  font-family: serif;
  border-radius: 35px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  textarea {
    width: 250px;
    height: 75px;
  }
}


/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
